
<div class="head-logo">
  <div class="image">
    <img src="assets/img/easymaq_logo.png" alt="logo.png">
  </div>
</div>

<div class="form-login">
  <h2>Iniciar Sesion</h2>
    <form>
                    <div class="eq-login-pass">
                         <md-input-container class="full-width">
                                <input mdInput  placeholder="Nombre completo" 
                                        name="nombre" 
                                        required>
                          </md-input-container>
                    </div>
                        <div class="eq-login-email">
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Correo electronico" 
                                        name="email" 
                                        required>
                            </md-input-container>
                        </div>
                <button 
                        class="btn-login">
                            Ingresar
                </button>
    </form>
    <small><a href="">¿Olvidaste tu contraseña?</a></small>
</div>