<app-nav></app-nav>
<div class="dash">
  <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-9 estadistica-container">
          <div class="row">
               <div class="col-md-4">
                 <div class="row">
                  <div class="col-6 col-md-12">
                    <h3>Publicacion</h3>
                    <div class="img-container">
                      <img src="./assets/img/maqcat.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-6 col-md-12">
                    <p>Marca: <span>Caterpillar</span> </p>
                    <p>Modelo: <span>Caterpillar</span> </p>
                    <p>Categoria: <span>Caterpillar</span> </p>
                    <div class="d-flex justify-content-center">
                      <button class="btn-vermas">Ver más</button>
                    </div>
                    
                  </div>
                 </div>
                </div>
                <div class="col-md-8 grafica">
                    <md-radio-group>
                      <md-radio-button class="example-margin" value="start">Hoy</md-radio-button>
                      <md-radio-button class="example-margin" value="end">Semana</md-radio-button>
                      <md-radio-button class="example-margin" value="mes">Mes</md-radio-button>
                    </md-radio-group>
                    <canvas baseChart
                                [data]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
          </div>
        </div>
       
          <!-- <div class="col-md-6 text-center" style="margin-top: 10px;height: 50%">
            <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
          </div> -->
      </div>
        <br>
        <br>
      <div class="row">
        <div class="col-md-4 offset-md-7 comentarios-barra">
           <div style="display: block">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
      </div>
  </div>

</div>